caption{
    text-align: center;
    font-size: 50px;
}
table{
    border: 2px solid black;
    border-spacing: 5px 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    text-align: left;

}
th{
    text-align: center;
    background-color: rgb(219, 217, 217);
}
td{
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
    height: 130px;
    width: 150px;
}
button{
    background-color: transparent; /* 배경 투명 */
    border: none;                  /* 테두리 없음 (선택) */
    color: black;                  /* 글씨 색은 원하는 걸로 */
    font-size: 50px;
    padding: 10px 20px;
}
li{
    font-size: 15px;
    text-align: center;
    background-color: rgb(183, 183, 254);
}
.sun{
    color: red;
}
.to{
    color:blue;
}