# 디폴트 무시된 파일
/../../웹_기초/.idea/shelf/
/../../웹_기초/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../웹_기초/.idea/httpRequests/
# Datasource local storage ignored files
/../../웹_기초/.idea/dataSources/
/../../웹_기초/.idea/dataSources.local.xml
